{% extends 'index.html' %}
{% load static %}
{% block title %} Artistas {% endblock %}
{% block content %}
<!--Albumnes-->
<h2>Artistas </h2>
<hr />
<br>

<div class="row">
   {% for artista in page_obj %}

   <div class="card" style="width: 15rem; background-color: transparent; text-align: center; margin-left: 8px;">
      <a href="{% url 'musica:artista_detail' artista.id %}">
         <img src="{{artista.photo.url}}" class="card-img-top" alt="..." style="border-radius: 150px;">
         <div class="card-body">
            <p class="card-text">{{artista.autor}}</p>
         </div>
      </a>
   </div>
   <br>

   {% endfor %}
</div>

{% endblock %}


{% block footer %}

<p style="text-align: center;">
   {% if page_obj.has_previous %}
   <a href="?page=1">&Lang;</a>
   <a href="?page={{page_obj.previous_page_number}}"><svg xmlns="http://www.w3.org/2000/svg" width="16"
         height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
         <path
            d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
      </svg></a>
   {% endif %}

   pagina {{page_obj.number}} de {{page_obj.paginator.num_pages}}

   {% if page_obj.has_next %}
   <a href="?page={{page_obj.next_page_number}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
         fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
         <path
            d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
      </svg></a>
   <a href="?page={{page_obj.paginator.num_pages}}">&Rang;</a>
   {% endif %}
</p>
{% endblock footer %}