{% extends 'index.html' %}
{% load static %}

{% block title %} Busquedas{% endblock %}

{% block content %}
<h6>Resultados de la busqueda:</h6>
<br>

{% if results_cancion or results_album or results_artista or results_playlists %}

<!----------------- Canciones ----------------------->
{% if results_cancion %}
<h2>Canciones</h2>
<hr />

  <table class="table" id="cancion-list">
    <thead>
      <tr>
        <th scope="col">Caratula</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Album</th>
        <th scope="col">Genero</th>
        <th scope="col"></th>
      </tr>
      </thead>
        <tbody>
          {% for cancion in results_cancion %}
          <!-- Hago un for con todas las canciones que recogo en la views -->
          <tr>
            <td><img src="{{cancion.titulo_album.portada.url}}"></td>
            <td><a href="../../{{cancion.get_absolute_url}}">{{cancion.titulo}}</a></td>
            <td><a href="../../{{cancion.get_absolute_url}}">{{cancion.nombre_autor}}</a></td>
            <td><a href="../../{{cancion.get_absolute_url}}">{{cancion.titulo_album.album}}</a></td>
            <td><a href="../../{{cancion.get_absolute_url}}">{{cancion.genero}}</a></td>
            <td><a href="{% url 'musica:eliminar_cancion' cancion.id %}"><svg xmlns="http://www.w3.org/2000/svg" style="color:#dc3545;" width="18" height="18" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                <path
                  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z" />
                  </svg></a><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z" />
                </svg></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
{% endif %}
<br>

<!----------------- Albumnes ----------------------->
{% if results_album %}

  <h2>Albumnes</h2>
  <hr />

  <div class="row">
    {% for album in results_album %}
      <div class="card" style="width: 15rem; background-color: transparent; text-align: center; margin-left: 8px;">
        <a href="{% url 'musica:album_detail' album.id %}">
          <img src="{{album.portada.url}}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">{{album.album}}</p>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  <br>
{% endif %}


<!----------------- Playlists ----------------------->
{% if results_playlists %}

<h2>Playlist</h2>
<hr />

<div class="row">
  {% for playlist in results_playlists %}
  <div class="card" style="width: 15rem; background-color: transparent; text-align: center; margin-left: 8px;">
    <a href="{% url 'musica:playlist_detail' playlist.id %}">
      <img src="{{album.portada.url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">{{playlist.nombre_playlist}}</p>
      </div>
    </a>
  </div>
  {% endfor %}
</div>
<br>
{% endif %}


<!----------------- Artistas ----------------------->
{% if results_artista %}
<h2>Artistas</h2>
<hr />

<div class="row">
  {% for artista in results_artista %}

  <div class="card" style="width: 15rem; background-color: transparent; text-align: center; margin-left: 8px;">
     <a href="{% url 'musica:artista_detail' artista.id %}">
        <img src="{{artista.photo.url}}" class="card-img-top" alt="..." style="border-radius: 150px;">
        <div class="card-body">
           <p class="card-text">{{artista.autor}}</p>
        </div>
     </a>
  </div>
  <br>

  {% endfor %}
</div>
{% endif %}


{% else %}
  <p>No hay resultados para esa busqueda.</p>
{% endif %}

{% endblock content %}